 .wrapper1 {

  margin: 0 auto;
  
}

.profile-header {
  margin-right: 0;
  padding-top: 8em;
  padding-right: 7em;
  padding-left: 7em;
  background-color: #f98fff;
  background-image: url("https://www.transparenttextures.com/patterns/dark-denim-3.png");
}

.avatar {
  display: flex;
  justify-content: center;
  
}

.name {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  color:black;
}

@media (min-width: 1024px) {

  .wrapper2 { 
    
    margin: 0 auto;
    display: flex;
    padding: 10px;
    padding-top: 8em;
  }

.profile-header {
  
  padding-top: 2em;
  margin-right: 4em;
  background-color: #f98fff;
  background-image: url("https://www.transparenttextures.com/patterns/dark-denim-3.png");
  }
}