nav {
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  

 }

 span {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
font-family: 'Bungee', cursive;
 
}

 h5 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  text-align: right;
 }
