
.new-tweet {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  padding: 25px 100px 25px 100px;
 
}

input {
  margin-left: 2em;
  width: 58em;
  height: 3em;
  padding: 10px;
  border-width: thick;
}

.counter {

  margin-left: 51.5em;
  font-family: 'Bungee', cursive;
}

button {
 margin-top: 2em;
 margin-left: 2em;
 font-family: 'Bungee', cursive;
 color: #FFFFFF;
 background-color: #4056A1;

}

.overcount {
  margin-left: 51.5em;
  font-family: 'Bungee', cursive;
  color: red;
}