
.new-tweet {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 10px 0;
 
}

div.err-border {
  display: none;
  padding: 15px;
  border: 4px solid #D8000C;
  margin-bottom: 1em;
}

.error{
 display: flex;
margin: 0.5em;
font-family: 'Source Sans Pro', sans-serif;
color: #D8000C;
}

.fa-times {
  margin-right: 0.5em;
  color: #D8000C
}

.fa-skull-crossbones {
  margin-left: 0.5em;
  color: #D8000C
  
}

input {
  display: flex;
  width: 100%;
  height: 3em;
  padding: 10px;
  border-width: thick;
}

div.buttoncount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:relative;
  margin-bottom: 2em;
  margin-top: 1em;
}

.counter {
  font-family: 'Bungee', cursive;
}

button {
 font-family: 'Bungee', cursive;
 color: #FFFFFF;
 background-color: #4056A1;

}

.overcount {
  display: flex;
  padding-right: 2em;
  margin-top: 1em;
  font-family: 'Bungee', cursive;
  color: red;
}
@media (min-width: 1024px) {


 
  
}
