
#container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 80px;
  width: 700px;
  padding: 25px;
}

article  {
  border: 5px solid #000;
  padding: 20px;
  margin-bottom: 3em;
  max-width: 100%;
}

h4 {
 position: relative;
  margin-left: 3em;
  margin-top: -1.5em;
  margin-bottom: 1em; 
}

article:hover  {
  box-shadow: 20px 20px 30px -10px #192824;
}

 p {
  max-width: 100%;
 word-break: break-word;
  display:flex;
  padding: 5px;
  border-bottom: 3px solid #000;
  padding-right: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 1.5em;
  margin-bottom: -2em;
}

.icons {
  display: flex;
  gap: 25px;
}

em.fa-flag {
color: #4056A1;
}

em.fa-thumbs-up {
position: relative;
color: #4056A1;
}

em.fa-comment {
color: #4056A1;
margin-bottom: 2em
  }
  
em.fa-grin-beam {
position: relative;
font-size: 40px;
  }

  em.fa-dog {
  position: relative;
  font-size: 40px;
  }

  article .tooltiptext {
    visibility: hidden;
    color:  #4056A1;
    margin-left: 80%; 
  }
  
  article:hover .tooltiptext {
    visibility: visible;
  }

  @media (min-width: 1024px) {

    article  {
      border: 5px solid #000;
      padding: 20px;
      margin-bottom: 3em;
    }
  }