#container article {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
  position: relative;
  height: 350px;
  padding: 25px;
}

h4 {
  position: relative;
  margin-left: 3em;
  margin-top: -1.5em;
  margin-bottom: 4em;

}

.tweeter-one  {
  border: 5px solid #000;
  margin-bottom: 3em;
}

.tweeter-one:hover  {
  box-shadow: 20px 20px 30px -10px #192824;
}

.tweeter-one header{
  border-bottom: 3px solid #000;;
}

.tweeter-one footer {
  margin-top: 2em;
  margin-right: 35em;
}

.tweeter-two{
  border: 5px solid #000;
  margin-bottom: 3em;
}

.tweeter-two:hover  {
  box-shadow: 20px 20px 30px -10px #192824;
}

.tweeter-two header{
  border-bottom: 3px solid #000;
}

.tweeter-two footer{
  margin-top: 2em;
  margin-right: 35em;
}

i.fa-flag {
position: relative;
left: 37em;
bottom: 2em;
color: #4056A1;

}

i.fa-thumbs-up {
position: relative;
left: 35em;
bottom: 2em;
color: #4056A1;
}



i.fa-comment {
position: relative;
left: 36em;
bottom: 2em;
color: #4056A1;
  }
  
i.fa-grin-beam {
position: relative;
font-size: 40px;
  }

  i.fa-dog {
  position: relative;
  font-size: 40px;
  }

 
  .tweeter-one .tooltiptext {
    visibility: hidden;
    color:  #4056A1;;
    border-radius: 7px;
    padding: 5px 0;
    position: absolute;
    top: 30px;
    left: 80%;
  }
  
  .tweeter-one:hover .tooltiptext {
    visibility: visible;
  }

  .tweeter-two .tooltiptext {
    visibility: hidden;
    color: #4056A1;;
    border-radius: 7px;
    padding: 5px 0;
    position: absolute;
    top: 30px;
    left: 80%;
  }
  
  .tweeter-two:hover .tooltiptext {
    visibility: visible;
  }